* {
  box-sizing: border-box;
}
.top-bar{
    margin-top: 3%;
}
.description{
    margin-top: 3%;
}
.inner{
	
	margin-top: 4%;
}

img{
    width: 7%;
    height: 7%;
}
.in-inner{
	
	 width: 80%
}
.form-group{
    width: 40%;
    margin-right:1%;
    display: inline-block;
}
.btn btn-light{
	display: inline-block;
}
#input {
	background:url(/images/magnifying_glass.jpg); 
	background-repeat: no-repeat; 
    background-position:right top; 
    padding-left:15px;
    background-size: 50px;
}

.myText{
	display: inline;
	height: 40px;
    width: 20%;
    border: 2px solid #908b85;
    border-radius: 5px;
}

.container{
	font-family: 'Montserrat', sans-serif;
    font-size: 13px;
	max-width: 90%;
	max-height: 100%;
	margin-left: auto;
  	margin-right: auto;
	
}
.row{
    display: block;
    height: 12em;
   
}
.col-sm{
    display: block;
   
}
.script-iframe{
    height: 100px;
}
.name{
    padding-bottom: 20px;
    width:80%;
    
}

.inner{
	height: auto;
}

.track-list > div{
 	width: 100%;
	
}



